body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    background-color: #ffffff;
}

.topBody {
    text-align:left;
    margin:30px;
    
}

#sizeTop {
    font-size: 18px;
    margin:20px;
}

.container {
    background-color: #e9eaf2c9;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 5px;
    width: 100px;
    box-sizing: border-box;
}

select {
    padding: 10px;
    margin: 5px;
    width: 120px;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#result {
    font-size: 20px;
    margin-top: 10px;

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
}